@import "reset";
@import "classes";
@import "../component/list";
@import "../component/button";
@import "../component/grid";
@import "../component/bar";


#app{
  font-size: .36rem;
}
.row-clo{
	.row > [class*="col-"]{
		text-align: center;
		background-color: #eee;
		color: #ccc;
	}
}